.bar {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 11px);
  height: 13px;
  color: white;
  background: #00a;
  padding: 2px 3px 3px;
  margin: 3px 2px 1px 3px;
  font-weight: bold;
}

.bar p {
  margin: 0;
}

.bar button {
  width: 15px;
  height: 13px;
  background: #c2c6ca;
  border: none;
  padding: 0;
  border-radius: 0;
  outline: none;
}

.bar button:active {
  box-shadow: 0.5px 0.5px 0 0.5px white, inset 1px 1px black,
    inset -1px -1px #c2c6ca, inset 2px 2px #85898d;
}

.bar button svg {
  margin: 3px 3px 3px 4px;
}
