.win98popup {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Microsoft Sans Serif", sans-serif;
  background: #c2c6ca;
  font-size: 12px;
  width: 640px;
  height: 480px;
  box-shadow: 0.5px 0.5px 0 0.5px white, inset 1px 1px #c2c6ca,
    inset -1px -1px #85898d, inset 2px 2px black;
  position: relative;
}

.shadow {
  box-shadow: 0.5px 0.5px 0 0.5px black, inset 1px 1px white,
    inset -1px -1px #85898d;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #55aaaa;
  display: flex;
  justify-content: center;
  align-items: center;
}
